<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Add Location</title>
</head>
<body bgcolor="#FF7F50">
<center>
<h2>AGENTS</h2><br>
<table BORDER=1px>
<tr>
<th>ID</th>
<td>FIRST NAME</th>
<td>LAST NAME</th>
<td>EXPERIENCE</th>
<td>COMPANY NAME</th>
</tr>
{%for a in agents%}
<tr>
<td>{{a.id}}</td>
<td>{{a.first_name}}</td>
<td>{{a.last_name}}</td>
<td>{{a.experience}}</td>
<td>{{a.company_name}}</td>
</tr>
{%endfor%}
</table><br><br>
<form action="./result" method="post">
{%csrf_token%}
Enter the id of the agent to whom the location is to be added:<input type="text" name="id" size=2><br><br>
<b>LOCATION</b><br><br>
Location Name:<input type="text" name="lcn" size=10><br><br>
Location City:<input type="text" name="lcc" size=10><br><br>
Location State:<input type="text" name="lcs" size=10><br><br>
Pincode:<input type="text" name="lpc" size=10><br><br>
<input type="submit" value="Add Location">
</form></center></body></html>
